body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
    padding: 0;
    margin: 0;
}

h1 {
    color: #333;
    text-align: center;
    transition: color 0.5s;
    margin-top: 20px;
}

form {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s, box-shadow 0.5s;
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="checkbox"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
input[type="text"]:focus{
    border-color: #6EA2DE;
    box-shadow: 0px 0px 10px #6EA2DE;
}

input[type="checkbox"] {
    margin-right: 5px;
    border-radius: 50%;
}
input[type="checkbox"]:hover{
    cursor: pointer;
    
}

body.dark-mode {
    background-color: #000;
    color: #ddd;
}

h1.dark-mode {
    color: #ddd;
}

form.dark-mode {
    background-color: #444; 
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

input[type="text"].dark-mode,
input[type="checkbox"].dark-mode {
    background-color: #555; 
    color: #ddd;
    border: 1px solid #777; 
    
    
}

#toggleThemeButton{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

#toggleThemeButton:hover {
    background-color: #0056b3;
}

#generateButton{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;

}
#generateButton:hover {
    background-color: #0056b3;
}


